<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AlarmMapper">
 	
 	<resultMap id="alarmSelectMap" type="com.amc.service.domain.Alarm">
  			<result property="alarmNo" column="alarm_no" jdbcType="NUMERIC"/>
  			<result property="screenContentNo" column="screencontent_no" jdbcType="NUMERIC"/>
  			<result property="userId" column="user_id" jdbcType="VARCHAR"/>
  			<result property="alarmRegDate" column="alarm_regdate" jdbcType="DATE"/>
  			<result property="alarmSeatNo" column="alarmseat_no" jdbcType="VARCHAR"/>
  			<result property="alarmFlag" column="alarm_flag" jdbcType="CHAR"/>
	</resultMap>

</mapper>