<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BookingMapper">
 	
 	<!-- Purpose of resultMap is mapping resultSet of SQL -->

   	 <resultMap id ="bookingSelectMap" type="booking">
  	
  		<result property="bookingNo" 		column="booking_no" 		jdbcType="CHAR"/>
  		<result property="impId" 			column="imp_id" 			jdbcType="VARCHAR"/>
  		<result property="userId" 			column="user_id" 			jdbcType="VARCHAR"/>
  		<result property="screenContentNo" 	column="screencontent_no" 	jdbcType="NUMERIC"/>
  		<result property="bookingRegDate" 	column="booking_regdate" 	jdbcType="DATE"/>
  		<result property="headCount" 		column="head_count" 		jdbcType="NUMERIC"/>	
  		<result property="totalTicketPrice" column="total_ticketprice"	jdbcType="NUMERIC"/>
		<result property="bookingSeatNo" 	column="bookingseat_no"		jdbcType="VARCHAR"/>		
  		<result property="qrUrl" 			column="qr_url" 			jdbcType="VARCHAR"/>
  		
  		<result property="movie.movieTitle"    			column="movie_title" 	 jdbcType="VARCHAR"/>
  		<result property="screenContent.screenDate"  	column="screen_date" 	 jdbcType="VARCHAR"/>
  		<result property="screenContent.screenOpenTime" column="screen_opentime" jdbcType="VARCHAR"/>
  		<result property="screenContent.previewFlag"    column="preview_flag" 	 jdbcType="VARCHAR"/>
  		<result property="screenContent.previewTitle"   column="preview_title" 	 jdbcType="VARCHAR"/>
  		<result property="screenContent.inviteActor"    column="invite_actor" 	 jdbcType="VARCHAR"/>

  	</resultMap>
  	
  	 <insert 	id="addBooking" parameterType="booking">
  		INSERT 
  		INTO booking VALUES ('b'||seq_booking_booking_no.nextval, impId, userId, screenContentNo, SYSDATE, headCount,
  		    totalTicketPrice, bookingSeatNo, qrUrl)
  	</insert>
  		
  	<select id="getBooking" parameterType="string" resultMap="bookingSelectMap" >
  		SELECT b.*, m.movie_title, s.screen_date, s.screen_opentime, s.preview_flag, s.preview_title, s.invite_actor 
		FROM booking b, screencontent s, movie m
		WHERE b.booking_no = #{bookinNo}
		AND b.screencontent_no = s. screencontent_no 
		AND s.movie_no = m.movie_no									
  	</select>
  	
  	 <select id="getBookingByInfo" parameterType="string" resultMap="bookingSelectMap" >
  		SELECT b.*, m.movie_title, s.screen_date, s.screen_opentime, s.preview_flag, s.preview_title, s.invite_actor 
		FROM booking b, screencontent s, movie m
		WHERE b.booking_no = #{bookinNo}
		AND b.screencontent_no = s. screencontent_no 
		AND s.movie_no = m.movie_no									
  	</select>
  	
  	<select id="getBookingList" parameterType="search" resultMap="bookingSelectMap">
		SELECT *
  		FROM ( SELECT inner_table.* , ROWNUM AS row_seq
  						FROM ( 	b.*, m.movie_title, s.screen_date, s.screen_opentime, s.preview_flag, s.preview_title, 
  								s.invite_actor 
  								FROM booking b, screencontent s, movie m
						  		<where>
						  			
						  			<if test="searchCondition!=null " >
						  				<if test="searchCondition==0  and searchKeyword !=''  and searchKeyword != null">
						  						AND user_id	=	#{searchKeyword}
						  				</if> 
	 					  				<if test="searchCondition==1   and searchKeyword !=''  and searchKeyword != null ">
						  						AND m.movie_title like '%'|| #{searchKeyword}||'%'
						  				</if>  				
						  				<if test="searchCondition==2  and searchKeyword !=''  and searchKeyword != null">
						  						AND s.preview_flag = #{searchKeyword}
						  				</if> 
						  			</if>
						  		</where> 												 
								ORDER BY
								<if test="searchKeyword2 == 'asc' ">s.screen_opentime asc</if> 
								<if test="searchKeyword2 == 'desc' ">s.screen_opentime desc</if> 
								<if test="searchKeyword2 != 'asc' and  sortBy != 'desc' ">b.booking_no</if> 									
							) inner_table

					WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
  	</select>
  	
</mapper>