<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="WishListMapper">
 	
 	<resultMap id="alarmSelectMap" type="com.amc.service.domain.Alarm">
  			<result property="wishNo" column="alarm_no" jdbcType="NUMERIC"/>
  			<result property="userId" column="user_id" jdbcType="VARCHAR"/>
  			<result property="movieNo" column="movieNo" jdbcType="NUMERIC"/>
	</resultMap>

</mapper>